.container {
  margin: 0 auto;
  max-width: 840px;
  padding-top: 1rem;
}

.gallery-images {
  margin: 0 0 2rem 0;
}

.gallery-image-item {
  display: none;
}

.gallery-image-item.active {
  display: block;
}

.gallery-image-item img {
  width: 100%;
}

.gallery-images,
.gallery-thumbnails {
  list-style: none;
  padding: 0;
}

.gallery-thumbnails {
  display: flex;
  justify-content: space-between;
}
